.cache
.cloud
.config
.storage
tts
deps
image
/secrets.yaml

*.db
*.old
*.log*
*.conf
*.db-shm
*.db-wal

.vscode
.DS_Store
*.pem

/custom_components/hacs
/custom_components/dyson_local
/custom_components/spook
/custom_components/spook_inverse